#footer {
  height: 38px;
  background-color: $dark-grey;
}

.res-nate {
  float: left;
  margin-left: 20px;
  line-height: 35px;
  font-size: 15px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

.fair-music-streaming {
  margin-right: 15px;
  line-height: 37px;
  font-size: 12px;
  letter-spacing: 0.1px;
  text-align: right;
  color: $purple;
}