@import 'variables';

* {
  box-sizing: border-box;
}

@font-face {
  font-family: averta;
  src: url('./fonts/AvertaDemo-Regular.otf');
}

body {
  font-family: averta, sans-serif;
}

#player-container {
  background-color: $medium-grey;
  width: 400px;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.playlist-item{
  display: block;
}

#header, .playlist-item-info {
  display: flex;
}

#playlist-container {
  height: 400px;
  overflow: scroll;
  background: $medium-grey;
}

.white-text {
  color: $white;
}

.grey-text {
  opacity: 0.5;
  color: $white;
}

a {
  text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.hidden {
  visibility: hidden;
}

@import 'mixins';
@import 'footer';
@import 'playlist';
@import 'modal';
@import 'controls';
@import 'header';
